* {
    main-bg:            #1C3A24B3;
    main-fg:            #CCFFDAE6;
    main-br:            #6A8957E6;
    main-ex:            #53ACF2E6;
    select-bg:          #AAF0D680;
    select-fg:          #295243E6;
}
