* {
    main-bg:            #483638B3;
    main-fg:            #FFCCD2E6;
    main-br:            #D6D1B4E6;
    main-ex:            #7E7E89E6;
    select-bg:          #F0C7AA80;
    select-fg:          #523A29E6;
}
